## Put your model args here
K: 10
D: 3

module:
  _target_: chemflow.model.lightning_module.LightningModule
  # args and kwargs 
  # tokens and atom_type_distribution will be passed from preprocessing in run.py

  weight_alpha: 1.0
  k_nn_edges: 10
  typed_gmm: False
  N_samples: 30
  K: ${model.K}
  D: ${model.D}
  n_atoms_strategy: ${data.n_atoms_strategy}
  
  # Loss component weights
  loss_weights:
    a_loss: 1.0
    x_loss: 3.0
    gmm_loss: 3.0
    death_rate_loss: 0.1
    birth_rate_loss: 0.1

  # Optimizer configuration
  optimizer_config:
    optimizer:
      _target_: torch.optim.Adam
      lr: 1e-3
    scheduler:
      _target_: torch.optim.lr_scheduler.ReduceLROnPlateau
      mode: min
      factor: 0.8
      patience: 10
    monitor: val_loss

  # The 'model' key below is an argument to your LightningModule
  model:
    _target_: chemflow.model.gnn.EGNNwithHeads
    _recursive_: false

    embedding_args: ${model.embedding}
    egnn_args: ${model.egnn}
    heads_args: ${model.heads}

embedding:
  _target_: chemflow.model.embedding.Embedding
  in_nf: ${len:${data.tokens}}
  out_nf: 64

egnn:
  _target_: src.external_code.egnn.EGNN
  in_node_nf: ${model.embedding.out_nf}
  hidden_nf: 128
  out_node_nf: 64
  in_edge_nf: 0
  n_layers: 6
  residual: True
  attention: False
  normalize: True
  tanh: False

heads:
  _target_: chemflow.model.heads.MultiHeadModule

  heads_configs:
    node_heads:
      class_head:
        input_dim: ${model.egnn.out_node_nf}
        output_dim: ${len:${data.tokens}}
        hidden_dim: 32

      # pos_head:
      #  input_dim: ${model.egnn.out_node_nf}
      #  output_dim: ${model.D}

      gmm_head:
        input_dim: ${model.egnn.out_node_nf}
        # Components:
        # 1. Mixture Logits (K)
        # 2. Position Attention Logits (K) -> Replaces K*D
        # 3. Variances (K * 1)
        # 4. Type Logits (K * T)
        output_dim: ${oc.eval:"${model.K} + ${model.K}"} #+ ${model.K}*${len:${data.tokens}}"}

    graph_heads:
      net_rate_head:
        input_dim: ${model.egnn.out_node_nf}
        output_dim: 1
        hidden_dim: 32
        aggregation: mean

      #gmm_head:
      #  input_dim: ${model.egnn.out_node_nf}
      #  output_dim: ${oc.eval:"${model.K} + 2*${model.K}*${model.D} + ${model.K}*${len:${data.tokens}}"}
      #  aggregation: mean
      
